.beercard{
    border: 2px solid hsla(184, 86%, 14%, 0.868);
    border-radius: 15px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.58);
    padding: 10px;
    margin: 10px;
    height: 50%;
    width: 65%;
    display: inline-block;
}

p {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    color: beige;
    font-weight:bolder;
    font-size: 20px;
}

.labels {
    color: rgb(2, 60, 73);
    margin: 0 0 0 20px;
}

.innercard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
