.StyleList {
  color: var(--text-light);
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
  max-height: 275px;
  overflow-y: scroll;
}

.StyleList ul {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
}
    
.StyleList ul:hover:not(.active) {
  cursor: pointer;
  background-color: var(--color-5);
  color: var(--white);
}

.StyleList ul.active {
  color: var(--text-dark);
  background-color: var(--color-1);
  border: .1vmin solid var(--color-3);
}