:root {
  --white: #FFFFFF;
  --color-1: #869c92da;
  --color-2: #80a094e1;
  --color-3: #5e979cca;
  --color-4: #58888ce0;
  --color-5: #3e7070d8;
  --text-light: #45515c;
  --text-dark: #252322;
} 

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-5);
  padding: 0.5vmin;
  height: 50vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-1);
  color: var(--text-dark);
  border: .1vmin solid var(--color-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--color-1);
  border: 1vmin solid var(--color-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--color-5);
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 500px;
  padding: 1vmin;
  margin: auto;
  gap: 2vmax;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input, select {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--color-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
}

input:focus {
  border-color: var(--color-5);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--color-5);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--color-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  width: 12%;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--color-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
